/*
 *  -= Font Import =-
*                       */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/*
 *  -= Colours =-
 *                      */

@property --raingreen {
  syntax: "<color>";
  inherits: false;
  initial-value: #00ff00;
}

@property --rainblack {
  syntax: "<color>";
  inherits: false;
  initial-value: #000000;
}

@property --highlight {
  syntax: "<color>";
  inherits: false;
  initial-value: #b6eada;
}

@property --highlighttrans {
  syntax: "<color>";
  inherits: false;
  initial-value: #b6eada30;
}

@property --bright {
  syntax: "<color>";
  inherits: false;
  initial-value: #5b8fb9;
}

@property --base {
  syntax: "<color>";
  inherits: false;
  initial-value: #301e67;
}

@property --dark {
  syntax: "<color>";
  inherits: false;
  initial-value: #03001c;
}

/*
 *  -= Animations =-
 *                      */

@keyframes falling-characters {
  to {
    transform: translateY(350vh);
  }
}

/*
 *  -= Actual CSS =-
 *                      */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

/* Navigation Bar */
#nav {
  list-style-type: none;
  position: sticky;
  overflow: none;
  top: 0;
  background-color: var(--base);
  color: var(--highlight);
  display: flex;
  z-index: 5000;
  padding: 0.5rem;
  flex-wrap: wrap;
  gap: 1rem;
}

#nav a {
  text-decoration: none;
  text-align: center;
  color: inherit;
  width: auto;
  justify-content: center;
  display: flex;
  flex: 1;
  padding: 0.5rem 1rem;
  line-height: 1;
  align-self: stretch;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

#nav a.active {
  background: var(--highlighttrans);
  border-radius: 0.5rem;
}

#nav a:hover {
  background-color: var(--bright);
}

#nav li {
  flex: 1;
  display: flex;
  list-style: none;
}

#nav li:last-child {
  flex: 0 0 auto;
  margin-left: auto;
}

#nav button#toggle-language:hover {
  background-color: var(--bright);
  color: var(--dark);
  line-height: 1;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.6;
  color: var(--highlight);
  background-color: var(--dark);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

body,
#root {
  min-height: 100vh;
  background-color: var(--dark);
  color: var(--highlight);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.6;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1;
  flex-direction: column;
}

#content {
  column-count: 2;
  column-gap: 2rem;
  gap: 1.5rem;
  max-width: 75ch;
  margin: 1rem auto;
  padding: 2rem;
  background-color: var(--base);
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  column-fill: balance;
}

#content.portfolio-layout {
  column-count: 1;
  display: grid;
  align-items: center;
}

#top-title {
  grid-column: 1 / -1;
  font-size: clamp(1.5rem, 5vw, 2rem);
  margin-top: 2rem;
  margin-bottom: 0.1rem;
  text-align: center;
}

p,
h2,
h3 {
  break-after: avoid;
}

p {
  font-size: clamp(0.9rem, 3vw, 1rem);
  margin-bottom: 1rem;
  break-after: avoid-page;
}

#top-title {
  text-decoration-line: bold;
}

h2 {
  font-size: clamp(1.2rem, 4vw, 1.5rem);
  margin-bottom: 0.5rem;
  text-align: center;
  color: var(--bright);
  text-transform: uppercase;
}

h3 {
  font-size: 1rem;
  color: var(--highlight);
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-style: italic;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  max-height: 250px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: block;
  border-radius: 1.25rem;
  border: 0.3rem solid;
  border-color: var(--bright);
}

#toggle-language {
  background: var(--highlight);
  border: none;
  color: var(--dark);
  width: 8rem;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-left: auto;
  transition: background 0.2s ease;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.portfolio-layout {
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  display: grid;
}

.portfolio-layout img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 1rem;
  justify-self: end;
  display: block;
  margin-left: auto;
  max-width: 100%;
}

.portfolio-layout .modal-link {
  display: block;
  text-align: center;
  background: var(--highlight);
  color: var(--dark);
  padding: 0.6rem;
  border-radius: 0.6rem;
  transition: background 0.2s;
}

.portfolio-layout .modal-link:hover {
  background: var(--bright);
  color: var(--dark);
}

/* Footer */

footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--base);
  color: var(--highlight);
  padding: 1rem;
  flex-shrink: 0;
  margin-top: auto;
  z-index: 3;
}

footer p {
  margin: 0;
  text-align: center;
}

/* Modal */
.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--dark);
}

.modal-content {
  background-color: var(--base);
  margin: 10% auto;
  padding: 3rem;
  border: 0.5rem solid var(--highlight);
  width: 80%;
  max-width: 600px;
  color: var(--highlight);
  text-align: left;
  border-radius: 1rem;
  position: relative;
}

.modal-content a {
  display: block;
  margin-top: 1.2rem;
  color: var(--bright);
  text-decoration: underline;
  text-align: center;
  font-size: 1.3rem;
  width: max-content;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.modal-content a::before {
  content: "[";
}

.modal-content a::after {
  content: "]";
}

.modal-close-button {
  position: absolute;
  top: -15px;
  right: 10px;
  color: var(--highlight);
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

.modal-close:hover {
  color: var(--bright);
}

.modal-link {
  display: block;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.modal-content a {
  text-decoration: none;
}

.modal-video {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
}

/* GitHub styling */

.repo-card {
  background: rgba(50, 50, 50, 0.5);
  padding: 1.5rem;
  border-radius: 1rem;
  border: 3px solid var(--bright);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.repo-meta {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: var(--bright);
}

.repo-meta a {
  color: var(--highlight);
  text-decoration: none;
}

.repo-meta a:hover {
  color: var(--highlight);
  text-decoration: underline;
}

#github-title {
  margin-top: 3rem;
}

/* Media Queries */
@media (max-width: 900px) {
  #content {
    grid-template-columns: 1fr;
    column-count: 1;
  }

  #toggle-language {
    position: static;
    display: block;
  }

  #nav {
    flex-wrap: wrap;
    gap: 0.5rem;
    text-align: center;
  }

  #nav a {
    flex: 1 1 auto;
    font-size: 0.9rem;
    padding: 0.4rem;
    align-items: center;
    white-space: nowrap;
  }

  #toggle-language {
    width: auto;
    flex: 0 0 auto;
    line-height: 1;
  }
}

@media (max-width: 500px) {
  #top-title {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  img {
    text-align: center;
  }

  #nav li:last-child {
    flex-basis: 100%;
  }
  .portfolio-layout {
    gap: 1rem;
  }
}

@media print {
  body {
    background-color: white;
    color: black;
  }

  #nav {
    display: none;
  }

  #content {
    box-shadow: none;
  }
}

/* Easter Egg #1: Follow */
#follow-button {
  left: 1rem;
  background: var(--highlight);
  border: none;
  color: var(--dark);
  width: 9rem;
  cursor: standard;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 0.5rem;
  margin-right: auto;
  transition: background 0.2s ease;
  flex: 0 0 auto;
  opacity: 0;
  position: absolute;
}

#follow-button:active {
  opacity: 0.8;
}

/* Easter Egg #2: Rain */
#rain-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  overflow: hidden;
}

body.rain {
  background: var(--rainblack);
}

.rain-line {
  position: absolute;
  top: -200%;
  white-space: pre;
  color: #00ff88;
  font-family: monospace;
  font-size: clamp(18px, 2vw, 32px);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  text-shadow:
    0 0 5px var(--raingreen),
    0 0 10px var(--raingreen),
    0 0 20px var(--raingreen),
    0 0 30px var(--raingreen),
    0 0 40px var(--raingreen);
  animation: falling-characters 7s infinite;
}

#stop-rain {
  display: none;
  right: 1rem;
  background: var(--highlight);
  border: none;
  color: var(--dark);
  width: 9rem;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 0.5rem;
  margin-left: auto;
  transition: background 0.2s ease;
  flex: 0 0 auto;
  position: absolute;
}

.rain-mode {
  background: black;
}

.rain-mode article {
  background: transparent;
}

.rain-mode #content {
  background: transparent;
  box-shadow: none;
}
